/* 
ROSA: #eaa2fd, #801155
AZUL:  #72B2E4, #92E1E2
AMARELO: #E5A663, #FAEE9E
*/

@keyframes bounceLike {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes bounceTimer {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightgrey;
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom, #72B2E4, #92E1E2);
    background-repeat: no-repeat;
}

/*///////////// HEADER ////////*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 1vh;

    background-color: #24252A;
    box-shadow: 0px 3px 10px #24252A;
}

@media screen and (max-width: 700px) {
    #relogio {
        display: none;
    }

    #logo {
        display: none;
    }

    #like {
        display: flex;
        flex-direction: column;
    }

    #b-like {
        display: none;
    }

    #b-like-respon {
        width: 35vw;
        height: 8vh;

        font-size: 3vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 800;

        background-color: lightgrey;
        color: #24252A;
        border: 0;
        border-radius: 1vh;

    transition: 1s;
    }

    #b-like-respon:hover {
        background-color: #8468ff;
        animation: bounceLike 1s;
    }
}

@media screen and (min-width: 700px) {
    #b-like-respon {
        display: none;
    }
    
}

#rosa, #azul, #amarelo {
    width: 25px;
    height: 25px;
    border-radius: 20px;

    border: 0;
}

#rosa {
    background-image: linear-gradient(to bottom, #eaa2fd, #801155);
}

#azul {
    background-image: linear-gradient(to bottom, #72B2E4, #92E1E2);
}

#amarelo {
    background-image: linear-gradient(to bottom, #E5A663, #FAEE9E);
}

.exerc-js {
    font-size: 3vh;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#relogio {
    padding: .5vh;
    
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: 2px 2px 1px 1px rgb(37, 37, 37);
}

.ponteiro {
    font-size: 2vh;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #24252A;
}

#menu {
    font-size: 5vh;
    border: 0;
    background-color: #ffffff00;
}

/*///////////// SECTION ////////*/

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    height: 40vh;
    background-color: transparent;
    
}

/*///////////// SECTION 1 ////////*/

.s-like {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#title-like {
    display: flex;
    align-items: center;
    height: 5vh;
    padding: 1vh;

    font-size: 4vh;
    font-weight: 900;
    background-color: #24252A;
    border-radius: 10px;
}

#s1{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 90vw;
    max-width: 1200px;
    background-color: #24252A;
    border-radius: 10px;
}

#like {
    display: flex;
    align-items: center;
    gap: 2vh;
}

#b-like {
    width: 20vw;
    height: 10vh;

    font-size: 4vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;

    background-color: lightgrey;
    color: #24252A;
    border: 0;
    border-radius: 1vh;

    transition: 1s;
}

#b-like:hover {
    background-color: #8468ff;
    animation: bounceLike 1s;
}

#b-like-r {
    display: none;
    padding: 1vh;
    background-color: #801155;
}

/*///////////// SECTION 2 ////////*/

.s-timer {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#s2 {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 90vw;
    max-width: 1000px;
    background-color: #24252A;
    border-radius: 10px;
    }
    

#title-timer, #title-calc {
    display: flex;
    align-items: center;
    height: 5vh;
    padding: 1vh;

    font-size: 4vh;
    font-weight: 900;
    background-color: #24252A;
    border-radius: 10px;
}

#timer {
    font-size: 4em;
    font-weight: 900;
}

.b-timer {
    width: 10vw;
    height: 3.5vh;
    max-width: 100px;

    font-size: 1.2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;

    background-color: lightgrey;
    color: #24252A;
    border: 0;
    border-radius: 1vh;

    transition: 1s;
}

.b-timer:hover {
    animation: bounceTimer 2s;
}

.b-timer-verde {
    background-color: #acfd8b;
}

.b-timer-verde:hover {
    background-color: #227900;
}

.b-timer-laranja {
    background-color: #E5A663;
}

.b-timer-laranja:hover {
    background-color: #b65e00;
}

.b-timer-vermelho {
    background-color: #b64141;
}

.b-timer-vermelho:hover {
    background-color: #a82f2f;
}

/*///////////// SECTION 3 ////////*/

.s-calc {
    display: flex;
    flex-direction: column;
}

#s3 {
    background-color: #24252A;
    border-radius: 10px;
    margin-top: 1vh;
}

#title-calc {
    margin-top: 15vh;
}

.res {
    display: flex;
    justify-content: right;

    margin-top: 3vh;
    margin-right: 4vh;
    font-size: 3rem;
}

.calc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;

    padding: 2vh;
    gap: 1.5vh;
    max-width: 500px;

}

#teclas {
    width: 4rem;
    height:4rem;

    border: 0;
    border-radius: 10px;

    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: #ffffff;

    transition: .3s;
}

.num {
    background-color: #8468ff;
}

.sinal {
    background-color: #f0b26f;
}

#teclas:hover {
    cursor: pointer;
    opacity: 60%;
}
